@mixin clearme {
  overflow: hidden;
  &:after {
    content: "";
    height: 0px;
    clear: both;
  }
}

@mixin pull-down($margin: 10px) {
  position: absolute;
  bottom: $margin;
  /* and what the hell: */
  @include clearme;
}

nav.ctrls {
  p {
    margin: 32px 0px;
  }

  label {
    display: inline;
  }

  #dobox {margin-top: 6px;}
}

div.content {
  margin: 10px;
}

section.box, section.nobox {
  @include clearme;

  padding: 10px;
  margin: 10px 10px 10px 0;
  
  h2 {
    margin: 0 0 6px 0;
    font-size: 1.7em;
  }
}
section.box { border: 1px solid black; }

$textboxW: 200px;
$textboxH: 140px;

article.text {
  float: left;
  width: $textboxW;
  height: $textboxH;
  border: 1px solid black;
  padding: ($textboxH * 0.05);
  margin: 0 ($textboxH * 0.05) ($textboxH * 0.05) 0;
  position: relative;

  h3 {
    margin: 0 0 6px 0;
    line-height: 1.1em;
    font-size: 1.3em;

    a {
      color: black;
      text-decoration: none;
      :hover {text-decoration: underline;}
    }
  }

  .seltext {
    position: absolute;
    top: 0px;
    right: 5px;
  }

  div.ctrls {
    @include pull-down;
    text-align: right;
    width: $textboxW;

    input {
      float: left;
    }
    
    a.btn {
      float: right;
      margin: 0 3px;
    }
  }
}

body#edittext {
  form {
    color: black;
    margin-bottom: 12px;

    #newtag {
      width: 50%;
    }
    #dotag {
      display: inline;
    }

    input#title {
      margin-top: 12px;
      font-size: 2.2em;
      font-weight: bold;
      border: none;
      width: 100%;
      height: 1.0em;
    }

    textarea#body {
      font-size: 1.25em;
      line-height: 1.6em;
      border: none;
      width: 100%;
    }

  }
}