<article class="text">
  <h3>{{title}}</h3>
  <p>{{summary}}</p>

  <div class="ctrls">
    <input type="checkbox" class="seltext" name="box[texts]" value="{{_id}}" />
    <a class="btn" href="/{{slug}}">Edit</a>
  </div>

</article>