<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof pageTitle == 'string' ? pageTitle + " - " : "" %>Lexbox</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/lexbox.css' />

    <!-- script type="text/javascript" src="/js/jquery.min.js"></script -->
    <!-- script type="text/javascript" src="/js/textinputs_jquery_src.js"></script -->
  </head>
  <body <%= typeof pageId == 'string' ? 'id=' + pageId : '' %>>
    <div class="container">
      <div class="row">
  