<!DOCTYPE html>
<html>
  <head>
    <title>Lexbox</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/lexbox.css' />
  </head>
  <body>
    <form method="post" action="/boxes/new">
      <div class="container-fluid">
        <div class="row-fluid">

          <nav class="ctrls span2">

            <h1>Lexbox</h1>

            <p id="boxctrls">
              Add selected to box named:<br />
              <input type="text" name="name" id="boxname" /><br />
              <input type="checkbox" name="tag" id="tagthese" checked="checked" />
              <label for="tagthese">Tag with box name</label><br />
              <input type="submit" name="dobox" id="dobox" value="Do it" />
            </p>

            <p>
              <input type="submit" name="unbox" id="unbox" value="Remove selected" />
            <p>
          </nav>

          <div class="content span10">
            
            {{#each boxen}}
              {{#if this[0].hasBox }}
                {{> box}}
              {{/if}}
            {{/each}}

            <!-- ensure boxless texts go at the bottom -->
            {{#each boxen}}
              {{#unless this[0].hasBox }}
                {{> box}}
              {{/unless}}
            {{/each}}

            <a class="btn btn-info" href="/texts/new">New text</a>
          </div>

        </div>
      </div>

    </form>
  </body>
</html>