<!DOCTYPE html>
<html>
  <head>
    <title>Lexbox</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/lexbox.css' />
  </head>
  <body>
    <form method="post" action="/boxes/new">
      <div class="container-fluid">
        <div class="row-fluid">

          {{body}}
          
        </div>
      </div>

    </form>
  </body>
</html>